<h1 class="mat-h1">Developer in the house</h1>
<mat-card class="dashboard-card about-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-header-image"></div>
    <mat-card-title>José Luis Muñoz</mat-card-title>
    <mat-card-subtitle>Full stack Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content img-thumbnail">
      <img mat-card-lg-image src="https://api.adorable.io/avatars/285/joseluis.munoz.develop.png">
    <div class="card-content">
      <strong>joseluis.munoz.glez@gmail.com</strong>
    </div>
  </mat-card-content>
</mat-card>