<h1 class="mat-h1">Developer in the house</h1>
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">José Luis Muñoz</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">          
    <div class="img-thumbnail">
        <img src="https://zpn-apiserver03.amr.corp.intel.com/WebAppWrapper/list" alt="Avatar" />
      </div>
    <div class="card-content">
      <strong>joseluis.munoz.glez@gmail.com</strong>
    </div>
  </mat-card-content>
</mat-card>